@import '../template/mixins';
@import '../template/settings';

@import url('https://fonts.googleapis.com/css?family=Quicksand:400, 700, 400italic, 700italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic, 700italic, 400, 700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

$mainFont: 'Roboto', sans-serif;
$mainColor: #333;
$headingFont: 'Roboto', sans-serif;
$headingColor: #333;
// $headingLetterSpacing: -0.08em;
$headingTextShadow: none;
$linkColor: #67c2e1;
$linkColorHover: darken($linkColor, 20%);
$selectionBackgroundColor: #134674;

$white: #fee;
$blue: #0c2577;

@mixin bodyBackground() {
  //   @include radial-gradient(#00c9ff, #92fe9d);
  @include horizontal-gradient(#00c9ff, #92fe9d);
}

.reveal {
  a {
    line-height: 1.3em;
  }

  table tr td {
    text-align: center;
    vertical-align: middle;
  }

  .highlighted {
    color: $white;
    background-color: $blue;
  }

  h2 {
    font-weight: bold;
    display: inline-block;
    border-bottom: 5px solid black;
    line-height: 1.1 !important;
  }

  h3 {
    text-transform: none !important;
  }

  .diagram {
    width: 65%;
    display: block;
    margin: 0 auto;
  }

  .citation {
    font-style: italic;
    width: 50%;
    margin: 0 auto;
  }

  .alt {
    color: $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    }

    .screenshot {
      border-color: $white;
    }
  }

  .clean-img {
    border: none;
    box-shadow: none;
    background: none;
  }

  .icon {
    width: 300px;
  }

  .full-width {
    height: auto;
    width: 100%;
  }

  .person-icon {
    width: 111px;
    border-radius: 128px;
  }

  .screenshot {
    display: block;
    margin: 0 auto;
    width: 75%;
  }

  .split {
    width: 50%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

@import '../template/theme';
